h1{
font-size: 32px;
font-family: Lobster, cursive;
font-weight: 400;
color: rgb(46,105,163);
text-align: center;
}

.page{
 background-color: lightblue;
}

.bio{
 text-align:center;
 font-family: Lato, sans-serif;
}

.body_text{
font-size: 20px;
font-family: Trebuchet MS Bold, sans-serif;
text-align: center;
}

ul{
list-style-position: inside;
font-size: 20px;
font-family: Trebuchet MS Bold, sans-serif;
text-align: center;
}

.image{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
