h1{
 font-size: 32px;
 font-family: 'Lobster', cursive;
 font-weight: 400;
 color: #87CEFA;
 text-align: center;
}


.menu{
 text-align:center;
 font-family: 'Lato', sans-serif;
}

#button1{
 text-decoration: none;
}

#button2{
 text-decoration: none;
}

.body_text{
 font-size: 18px;
 font-family: 'Lato', sans-serif;
 font-style: italic;
 font-weight: 700;
 text-align: center;
 color: white;
}

.body_text_left{
 display: inline-block; 
 text-align: left;
}


.image{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


html { 
  background: url("http://i.imgur.com/TTaslCR.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

